*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://assets.nflxext.com/ffe/siteui/vlv3/c0b69670-89a3-48ca-877f-45ba7a60c16f/2642e08e-4202-490e-8e93-aff04881ee8a/IN-en-20240212-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 160px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 11px 17px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.language-btn{
    background: transparent;
    border: 1px solid #fff;
    padding: 8px 14px;
}
.header-content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.header-content h3{
    font-weight: 400;
    margin-bottom: 10px;

}
.email-signup{
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    overflow: hidden;

}
.email-signup input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    background: transparent;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #fff ;
}
.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
    margin-left: 10px;
}
.features-box{
    padding: 50px 12%;
    font-size: 22px;
    margin-top: 10px;
   

}
.row_1st{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
   

}
.text_column{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img_column{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img_column img{
    display: block;
    width: 90%;
    margin: auto;
}
.features-box h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
   
}

.faq-box{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    border-top: 6px solid #333;
}
.faq-box h2{
    font-weight: 500;
    font-size: 40px;
    margin-top: 20px;

}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
   
}
.accordion li{
    list-style: none;
    width : 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
.accordion li label:hover{
    background: #797777;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 35px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    
    transform: rotate(135deg);
}
.faq-box .email-signup{
    max-width: 550px;
    margin: 20px auto 60px;
}
.faq-box small{
    font-size: 16px;
}


.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;

}

.footer h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 15px;
}
.footer .col a{
    display: block;
    text-decoration: underline;
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}
.footer .row_1st{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}
.row-p{
    margin-top: 20px;
    font-size: 16px;
}


/* ---------------------------------Media Query--------------------------------------------- */
@media only screen and (max-width: 600px){
    .logo{
        width: 100px
    }
    nav button{
        padding: 8px 10px;
    }
    nav .language-btn{
        padding: 5px 10px;

    }
    .header-content{
        position: unset;
        transform: none;
        padding-top: 150px;
    }
    .header-content h1{
        font-size: 30px;
        line-height: 1.5;
    }
    .email-signup button{
        font-size: 12px;
        padding: 12px 15px;

    }
    .text_column, .img_column{
        flex-basis: 100%;
    }
    .features-box h2{
        font-size: 30px;
    }
    .features-box p{
        font-size: 16px;
    }
    .row_1st:nth-child(2), .row_1st:nth-child(4){
        flex-direction: column-reverse;
    }
    .features-box .row_1st{
        padding: 10px 0;
    }
    .faq-box h2{
        font-size: 20px;
        margin-top: 25px;
    }
    .accordion .content{
        font-size: 14px;
    }
    .accordion li label {
        padding: 10px ;
        font-size: 14px;
    }
    label::after{
        font-size: 22px;
    }
    small p{
        font-size: 13px;
    
    }
    .footer .col{
        justify-content: center;
    }

}